<div class="row">
    <div class="col-12">
        <div class="alert alert-light border   text-center fst-italic"
            :class="{'text-white bg-dark' :store.isDarkMode}" role="alert">
            Copyright © Võ Minh Hiếu
        </div>
    </div>
</div>